<!DOCTYPE html>
<html class="min-h-full" lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">

        <title>AFUP {{ tenant.antenne.label }}</title>

        {% block favicon %}
            <link rel="icon" href="{{ tenant.antenne.logo.simple }}" sizes="any" type="image/svg+xml">
        {% endblock %}

        {% block head %}{% endblock %}

        <meta property="og:type" content="website">
        <meta property="og:url" content="https://{{ tenant.subdomain }}.afup.org">
        <meta property="og:title" content="AFUP {{ tenant.antenne.label }}">
        <meta property="og:description" content="Site de l'antenne AFUP {{ tenant.antenne.label }}">
        <meta property="og:site_name" content="AFUP {{ tenant.antenne.label }}">

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
    <div style="background-image: url({{ asset('img/bg.png') }})">

        <div class="min-h-screen flex flex-col backdrop-blur-sm">

            <main class="container mx-auto max-w-96 sm:max-w-none">
                <div class="px-5 pt-10 md:pt-20 pb-5 md:pb-10">
                    <div class="mx-auto sm:max-w-3xl">
                        <a href="{{ path('home', { subdomain: tenant.subdomain }) }}">
                            <img src="{{ asset('logos/afup-antenne-' ~ tenant.antenne.code ~ '.svg') }}"
                                 class="drop-shadow-lg"
                                 alt="Logo de l'antenne AFUP {{ tenant.antenne.label }}"/>
                        </a>
                    </div>
                </div>

                <div class="text-white text-center p-4 sm:p-0 pb-4 sm:pb-10 text-xl sm:text-2xl md:block flex justify-around items-center gap-3">
                    <a href="https://afup.org" class="hover:underline">afup.org</a>
                    <span class="md:px-3">
                        <twig:ux:icon name="separator" class="h-5 inline-block" />
                    </span>
                    <a href="https://afup.org/association/devenir-membre" class="hover:underline">Adhérer</a>
                    <span class="md:px-3">
                        <twig:ux:icon name="separator" class="h-5 inline-block" />
                    </span>
                    <a href="{{ path('meetups', { subdomain: tenant.subdomain }) }}" class="hover:underline">Meetups</a>
                </div>

                {% block body %}{% endblock %}

            </main>

            <footer class="mt-auto pb-4 px-5 text-slate-50 text-xs sm:text-sm flex justify-between">
                <a href="https://github.com/afup/antennes" class="hover:underline">Code source</a>

                <span>
                    Hébergé sur <a href="https://clever.cloud" class="hover:underline">Clever Cloud</a>
                </span>
            </footer>

        </div>

    </div>
    </body>
</html>
