{% extends 'base.html.twig' %}

{% block title %}AFUP {{ antenne.label }}{% endblock %}

{% block favicon %}
    <link rel="icon" href="{{ antenne.logo.simple }}" sizes="any" type="image/svg+xml">
{% endblock %}

{% block head %}

<meta property="og:type" content="website">
<meta property="og:url" content="https://{{ antenne.code }}.afup.org">
<meta property="og:title" content="AFUP {{ antenne.label }}">
<meta property="og:description" content="Site de l'antenne AFUP {{ antenne.label }}">
<meta property="og:site_name" content="AFUP {{ antenne.label }}">

{% endblock %}

{% block body %}

    <main class="container mx-auto max-w-96 sm:max-w-none">
        <div class="px-5 pt-20 pb-10">
            <img src="{{ asset('logos/afup-antenne-' ~ antenne.code ~ '.svg') }}"
                 class="mx-auto sm:max-w-3xl drop-shadow-lg"
                 alt="Logo de l'antenne AFUP {{ antenne.label }}"/>
        </div>

        <div class="text-white text-center pb-5 sm:pb-10 text-xl sm:text-2xl">
            <a href="https://afup.org" class="hover:underline">afup.org</a>
            <span class="px-3">
                <twig:ux:icon name="separator" class="h-5 inline-block" />
            </span>
            <a href="https://afup.org/association/devenir-membre" class="hover:underline">Devenir membre</a>
        </div>

        <div class="mx-auto sm:max-w-96">
            <twig:Link url="{{ antenne.links.meetup }}" icon="meetup">Meetup</twig:Link>

            {% if antenne.links.linkedin %}
                <twig:Link url="{{ antenne.links.linkedin }}" icon="linkedin">LinkedIn</twig:Link>
            {% endif %}

            {% if antenne.links.bluesky %}
                <twig:Link url="{{ antenne.links.bluesky }}" icon="bluesky">Bluesky</twig:Link>
            {% endif %}

            <hr class="border-t-white mx-32"/>

            <twig:Link url="https://event.afup.org" icon="event" data-qa="current-event">{{ currentEvent }}</twig:Link>
        </div>
    </main>

    <footer class="mt-auto pb-4 px-5 text-slate-50 text-xs sm:text-sm hover:underline flex justify-between">
        <a href="https://github.com/afup/antennes">Code source</a>

        <span>
            Hébergé sur <a href="https://clever.cloud">Clever Cloud</a>
        </span>
    </footer>

{% endblock %}
